{% include 'header.html' %}
    {% for mascota in pacientes_mascotas %}
    <form method="POST" action="/update" enctype="multipart/form-data">

        <div class="card">
            <div class="card-header">
                Editar datos del paciente
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del paciente</h5>
                <p class="card-text">

                    <div class="form-group">
                        <label for="nombreForm">Nombre</label>
                        <input id="nombreForm" value="{{mascota[0]}}" class="form-control" type="text" name="nombreForm">
                    </div>

                    <input type="hidden" value="{{mascota[1]}}" name="idForm" id="idForm" placeholder="101" required>
                    <br>

                    <div class="form-group">
                        <label for="especie">Especie</label>
                        <input id="especie" value="{{mascota[2]}}" class="form-control" type="text" name="especie">
                    </div>

                    <div class="form-group">
                        <label for="raza">Raza</label>
                        <input id="raza" value="{{mascota[3]}}" class="form-control" type="text" name="raza">
                    </div>

                    <div class="form-group">
                        <label for="tamaño">Tamaño</label>
                        <input id="tamaño" value="{{mascota[4]}}" class="form-control" type="text" name="tamaño">
                    </div>

                    <div class="form-group">
                        <label for="genero">Genero</label>
                        <input id="genero" value="{{mascota[5]}}" class="form-control" type="text" name="genero">
                    </div>

                    <div class="form-group">
                        <label for="peso">Peso</label>
                        <input id="peso" value="{{mascota[6]}}" class="form-control" type="text" name="peso">
                    </div>

                    <div class="form-group">
                        <label for="colorForm">Color</label>
                        <input id="colorForm" value="{{mascota[7]}}" class="form-control" type="text" name="colorForm">
                    </div>

                    <div class="form-group">
                        <label for="fechaNac">Fecha de nacimiento</label>
                        <input id="fechaNac" value="{{mascota[8]}}" class="form-control" type="text" name="fechaNac">
                    </div>

                    <div class="form-group">
                        <label for="nombreDueño">Nombre del dueño</label>
                        <input id="nombreDueño" value="{{mascota[9]}}" class="form-control" type="text" name="nombreDueño">
                    </div>

                    <div class="form-group">
                        <label for="apellidoDueño">Apellido del dueño</label>
                        <input id="apellidoDueño" value="{{mascota[10]}}" class="form-control" type="text" name="apellidoDueño">
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input id="direccion" value="{{mascota[11]}}" class="form-control" type="text" name="direccion">
                    </div>

                    <div class="form-group">
                        <label for="tel">Teléfono</label>
                        <input id="tel" value="{{mascota[12]}}" class="form-control" type="tel" name="tel">
                    </div>


                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <input id="estado" value="{{mascota[13]}}" class="form-control" type="text" name="estado">
                    </div>

                    <div class="form-group">
                        <label for="nombreForm">Foto</label>
                        <img class="img-thumbnail" width="100" src="{{url_for('uploads',nombreFoto=mascota[14])}}" alt="">
                        <input id="nombreForm" value="{{mascota[14]}}" class="form-control" type="text" name="nombreForm">
                    </div>

                    <div class="form-group">
                        <label for="fechaFin">Fecha de defunción</label>
                        <input id="fechaFin" value="{{mascota[15]}}" class="form-control" type="text" name="fechaFin">
                    </div>

                    <div class="form-group">
                        <label for="fechaFin">Fecha de defunción</label>
                        <input id="fechaFin" value="{{mascota[15]}}" class="form-control" type="text" name="fechaFin">
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Modificar">
                        <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                    </div>
                </div>
            </div>
        </form>
{% endfor %}
{% include 'footer.html' %}
         <!-- Nombre:
            <input type="text" value="{{mascota[0]}}" name="nombreForm" id="nombreForm" placeholder="Papuchi" required>
        Id de paciente:
            <input type="hidden" value="{{mascota[1]}}" name="idForm" id="idForm" placeholder="101" required>
                <br>
        Especie:
            <input type="text" value="{{mascota[2]}}" name="especie" id="especie" placeholder="perro" required>
        Raza:
            <input type="text" value="{{mascota[3]}}" name="raza" id="raza" placeholder="Dalmata">
                <br>
        Tamaño:
            <select name="tamaño" value="{{mascota[4]}}" id="tamaño">
                <option value="grande">Grande</option>
                <option value="mediano">Mediano</option>
                <option value="pequeño">Pequeño</option>
            </select>
        Género:
            <select name="genero" value="{{mascota[5]}}" id="genero">
                <option value="hembra">Hembra</option>
                <option value="macho">Macho</option>
            </select>
            <br>
        Peso:
            <input type="text" value="{{mascota[6]}}" name="peso" id="peso" placeholder="40"> kg.
            <br>
        Color:
            <input type="text" value="{{mascota[7]}}" name="colorForm" id="colorForm" placeholder="Blanco con manchas negras">
            <br>
        Fecha de nacimiento:
            <input type="date" value="{{mascota[8]}}" name="fechaNac" id="fechaNac">
            <br>
        Nombre y apellido del dueño:
            <input type="text" value="{{mascota[9]}}" name="nombreDueño" id="nombreDueño" placeholder="Juan" required>
            <input type="text" value="{{mascota[10]}}" name="apellidoDueño" id="apellidoDueño" placeholder="Doe" required>
            <br>
        Dirección:
            <input type="text" value="{{mascota[11]}}" name="direccion" id="direccion" placeholder="Av. Costanera Rafael Obligado s/n, C1425 CABA">
            <br>
        Teléfono:
            <input type="tel" value="{{mascota[12]}}" name="tel" id="tel" placeholder="1122223333">
            <br>
        Estado:
        <select name="estado" value="{{mascota[13]}}" id="estado">
            <option value="health">Sano</option>
            <option value="sick">Enfermo</option>
            <option value="death">Fallecido</option>
        </select>
            <br>
        Foto:
        <br>
        <img class="img-thumbnail" width="100" src="{{url_for('uploads',nombreFoto=mascota[14])}}" alt="">
        <br>
        <input type="foto" name="foto" id="foto">
            <br>
        Fecha de defunción:
            <input type="date" value="{{mascota[15]}}" name="fechaFin" id="fechaFin">
        <br><p> </p> -->