{% include 'header.html' %}
    <table class="table table-dark">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>#</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Tamaño</th>
                <th>Genero</th>
                <th>Peso</th>
                <th>Color</th>
                <th>Fecha de nacimiento</th>
                <th>Nombre del dueño</th>
                <th>Apellido del dueño</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Foto</th>
                <th>Fecha de defunción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mascotas in mascotas %}
                <tr>
                    <td>{{mascota[0]}}</td>
                    <td>{{mascota[1]}}</td>
                    <td>{{mascota[2]}}</td>
                    <td>{{mascota[3]}}</td>
                    <td>{{mascota[4]}}</td>
                    <td>{{mascota[5]}}</td>
                    <td>{{mascota[6]}}</td>
                    <td>{{mascota[7]}}</td>
                    <td>{{mascota[8]}}</td>
                    <td>{{mascota[9]}}</td>
                    <td>{{mascota[10]}}</td>
                    <td>{{mascota[11]}}</td>
                    <td>{{mascota[12]}}</td>
                    <td>{{mascota[13]}}</td>
                    <td>
                        <img class="img-thumbnail" width="100" src="/uploads/{{mascota[14]}}">
                        
                    </td>
                    <td>{{mascota[15]}}</td>
                    <td><a href="/destroy/{{mascota[0]}}" text="Eliminar"><i class="fas fa-backspace"></i></a> | <a href="/edit/{{mascota[0]}}" text="Editar"><i class="fas fa-edit"></i></a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% include 'footer.html' %}