body{
    margin: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    background: rgb(217, 233, 172);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
.img-thumbnail{
    background-color: blue;
    border: none;
}