{% include 'header.html' %}

{% with messages= get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
    {% for message in message %}
        {{ message }}
    {% endfor %}
    </div>
{% endif %}
    <form method="post" action="/store" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del paciente</h5>
                <p class="card-text">
                <div class="row">
                    <div class="form-group col">
                        <label for="nombreForm">Nombre<a style="color:#FF0000";>*</a></label>
                        <input id="nombreForm" class="form-control" type="text" name="nombreForm" required>   
                    </div>
                    
                        <div class="form-group col">
                            <label for="especie">Especie<a style="color:#FF0000";>*</a></label>
                            <input id="especie" class="form-control" type="text" name="especie" required>
                        </div>
                        <div class="form-group col">
                            <label for="raza">Raza</label>
                            <input id="raza" class="form-control" type="text" name="raza">
                        </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="tamano">Tamaño</label>
                        <select id="tamano" class="form-control" name="tamano">
                        <option>Pequeño</option>
                        <option>Mediano</option>
                        <option>Grande</option>
                        <option>Extra grande</option>
                        </select>
                    </div>
                    
                    <div class="form-group col">
                        <label for="peso">Peso en Kg.</label>
                        <input id="peso" class="form-control" type="number" name="peso">
                    </div>
                    <div class="form-group col">
                        <label for="colorForm">Color</label>
                        <input id="colorForm" class="form-control" type="text" name="colorForm">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="genero">Sexo</label>
                        <select id="genero" class="form-control" name="genero">
                        <option>Hembra</option>
                        <option>Macho</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="fechaNac">Año de nacimiento</label>
                        <input id="fechaNac" class="form-control" type="number" name="fechaNac">
                    </div>
                    <div class="form-group col">
                        <label for="estado">Estado</label>
                        <select id="estado" class="form-control" name="estado">
                        <option>Sano</option>
                        <option>Enfermo</option>
                        <option>Fallecido</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="nombreDueno">Nombre del dueño</label>
                        <input id="nombreDueno" class="form-control" type="text" name="nombreDueno">
                    </div>
                    <div class="form-group col">
                        <label for="apellidoDueno">Apellido del dueño</label>
                        <input id="apellidoDueno" class="form-control" type="text" name="apellidoDueno">
                    </div>
                    <div class="form-group col">
                        <label for="direccion">Dirección</label>
                        <input id="direccion" class="form-control" type="text" name="direccion">
                    </div>

                    <div class="form-group col">
                        <label for="telForm">Teléfono</label>
                        <input id="telForm" class="form-control" type="number" name="telForm">
                    </div>
                </div>
                <div class="custom-file">
                    <input id="foto" type="file" class="custom-file-input" id="customFileLang" lang="es" name="foto">
                    <label class="custom-file-label" for="customFileLang">Elegir foto</label>
                </div>
                <p> </p>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>
            </div>
        </div>
    </form>
{% endwith %}

{% include 'footer.html' %}