{% include 'header.html' %}

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Id.</th>
            <th>Especie</th>
            <th>Apellido del dueño</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for m in mascotitas %} 
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] }}</td>
            <td>{{ m[11] }}</td>
            <td>{{ m[13] }}</td>
            <td>{{ m[9] }}</td>
            <td>
                <img class="rounded float-left" src="uploads/{{ m[14] }}" width="100">   
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/view/{{ m[1] }}" class="btn btn-primary" title="Ver ficha completa" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-sign-in-alt"></i></a>
                  <a href="/edit/{{m[1]}}" class="btn btn-info"  title="Editar" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-edit"></i></a>
                  <a href="/destroy/{{ m[1] }}" class="btn btn-danger" title="Eliminar" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-backspace"></i></a> 
                </div>
              </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <br>

    {% include 'footer.html' %}