<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PacientesVet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<a href="{{url_for('create')}}" class="btn btn-success">Ingresa nuevo paciente</a>
<br>
<table class="table table-light">
   {% for m in mascotitas %} 
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Id.</th>
            <th>Especie</th>
            
            <th>Apellido del dueño</th>
            
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] }}</td>
            <td>{{ m[3] }}</td>
            
            <td>{{ m[10] }}</td>
            
            <td>{{ m[12] }}</td>
            <td>
                <img class="img-thumbnail" width="100" src="uploads/{{ m[14] }}" width="100">   
            </td>
            <td>
                <a onclick="return confirm('Desea eliminar el paciente?')" class="btn btn-danger" href="/destroy/{{ m[0] }}" text="Eliminar"><i class="fas fa-backspace"></i></a>  
                <a onclick="return confirm('Desea modificar el paciente?')" class="btn btn-warming" href="/edit/{{ m[0] }}" text="Editar"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</body>
</html>